@import './variables';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif !important;
}



.line-clamp-2 {
  display: -webkit-box;
  /* Required for line-clamp */
  -webkit-line-clamp: 3;
  /* Number of lines to display */
  -webkit-box-orient: vertical;
  /* Required for line-clamp */
  overflow: hidden;
  /* Hide the rest of the text */
}


.card-img-top {
  height: 200px;
}